[alias]
d = branch -d
o = checkout
r = rebase -i

[color]
ui = auto

[core]
editor = vi

[credential]
helper = osxkeychain

[push]
default = current

[remote "origin"]
prune = true

[user]
email = ssylvis@gmail.com
name = Sean Sylvis
